@charset "UTF-8";
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

header {
    padding: 20px;
    background-color: azure;
    display: flex;
    justify-content: flex-end;
}

header .btn-cart {
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
}

main {
    padding: 20px;
}

.products {
    display: flex;
    justify-content: space-between;
}

.product-item {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px;
}

.product-item h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.product-item p {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.buy-btn {
    border-radius: 8px;
    background-color: azure;
}